@import url('https://rsms.me/inter/inter.css');
* {-webkit-tap-highlight-color: transparent}
html { font-family: 'Inter', sans-serif; overflow-x: hidden; padding: 0;}
@supports (font-variation-settings: normal) {html { font-family: 'Inter var', sans-serif; }}
body {font-family: 'Inter', sans-serif; overflow-x: hidden; font-size: 14px; background: #9AC3FF; padding: 0; margin: 0 !important;}

a {color: #4C4AC2;} a:hover {color: black;} a:visited {color: #4C4AC2;} a:visited:hover {color: black;}

.logo {background: white; border-radius: 2rem; width: auto; min-height:200px; background-image: url('./vilk-tag.svg'); background-size: 100% 100%; margin: 3px; background-position: center; background-repeat: no-repeat;} 
.sq {margin: 3px;} 
.white {background: white; border-radius: 2rem; margin: 3px;} 
.green {background: #B8F79B; border-radius: 2rem; margin: 3px; font-size: 24px; line-height: 37px;}
.what {background: #9BF7E6; border-radius: 2rem; margin: 3px; font-size: 24px; line-height: 37px;}
.what a {color: black;} .what a:hover {color: #4C4AC2;}
.projects {background: white; border-radius: 2rem; margin: 3px; font-size: 24px; line-height: 37px;}
.crypto {background: #6898DF; border-radius: 2rem; margin: 3px; color: white}
.crypto a {color: white;}

.inner {padding: 10px 30px;}

.violet {background-color: #C5C4F1;}

 
.this {max-width: 900px; margin: 20px auto;}

.cards-2-1 { display: grid; grid-template-columns: 2fr 1fr; grid-auto-rows: auto; grid-gap: 0rem; }
.cards-1-2 { display: grid; grid-template-columns: 1fr 2fr; grid-auto-rows: auto; grid-gap: 0rem; }
.cards-1 { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-auto-rows: auto; grid-gap: 0rem; }
.cards-3  { display: grid; grid-template-columns: 1fr; grid-auto-rows: auto; grid-gap: 0rem; } 
.card { padding: 0rem; }


@media (max-width: 640px) { 
	.cards-2-1, .cards-1, .cards-1-2 { display: grid; grid-template-columns: 1fr; grid-auto-rows: auto; grid-gap: 0rem; } 
	.green, .what {font-size: 22px; border:none;}
	.inner {padding: 0px 20px;}
	body {font-size: 22px; line-height: 37px;}
	.nomob {display: none;}
}

/*
@media (max-width: 850px) {
.bio-back {background: white; color: black; width: 100%;}
.bio-back:hover {background: white; color: black; width: 100%;}
.bio-text {padding: 16px;}
}
@media (min-width: 2500px) {.soundcloud {display: none}}
@media (max-width: 500px) {.soundcloud {display: none} #telegram img {width: 128px !important;} .marq {animation-duration: 160s;} .marq {animation-duration: 90s;} @keyframes dvdx {0%,100% {transform: translateX(0%);}50% {transform: translateX(calc(100% - 128px));}} @keyframes dvdy {0%,100% {transform: translateY(0%);}50% {transform: translateY(calc(100% - 92px));}}}
@media (min-width:350px) and (max-width:430px) {h1 {font-size: 40px} dark-mode-toggle {--dark-mode-toggle-icon-size: 30px; transform: translateY(8px);}}
@media (max-width: 349px) {h1 {font-size: 28px} h2 {font-size: 18px} dark-mode-toggle {--dark-mode-toggle-icon-size: 20px; transform: translateY(5px);}*/